.idea/*
out/*
*.properties
.settings
.classpath
.project
*.iml
library/target/*
library/*.iml
hibernate3/target/*
hibernate3/*.iml
library/.project
library/.classpath
library/.settings/*
hibernate3/.project
hibernate3/.classpath
hibernate3/.settings/*
hibernate3-integration/.project
hibernate3-integration/.classpath
hibernate3-integration/.settings/*
hibernate3-integration/target/*
hibernate3-integration/*.iml
hibernate4/.project
hibernate4/.classpath
hibernate4/.settings/*
hibernate4/target/*
hibernate4/*.iml
hibernate4-integration/.project
hibernate4-integration/.classpath
hibernate4-integration/.settings/*
hibernate4-integration/target/*
hibernate4-integration/*.iml
